<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/login" method="post">
            {% for msg in get_flashed_messages() %}
                <h2>{{msg}}</h2>
            {% endfor %}
            <input type="name" name="nm" class="nm">
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>